[submodule "framenewtab"]
	path = framenewtab
	url = git@gist.github.com:1366415.git
	ignore = all
[submodule "vim-scripts"]
	path = vim-scripts
	url = git@gist.github.com:2235372.git
	ignore = all
[submodule "emacs-scripts"]
	path = emacs-scripts
	url = git@gist.github.com:2235526.git
	ignore = all
[submodule "js-functions"]
	path = js-functions
	url = git@gist.github.com:2235535.git
	ignore = all
